body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: lightgrey;
}
#content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: auto;
    background-color: rgb(181, 220, 245);
    border-radius: 20%;
}
h2 {
    margin-top: 30px;
    font-family: 'Anton', sans-serif;
    margin-right: 50px;
    margin-left: 50px;
}
button {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
